<% if current_user %>
  <div class="page-header">
    <h1>Here is some info about you...</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <ul>
      <% @auth.each do |key, value| %>
          <h1><%= key %> </h1>
          <p><%= value %> </p>
      <% end %> 
      </ul>
    </div>
  </div>



<% else %>
  <%= render 'welcome' %>
<% end %>